.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
  overflow: visible;
  pointer-events: none;
}

.lanyard-wrapper canvas {
  pointer-events: none !important;
}
